<?php

$db = new PDO(
    'mysql:host=127.0.0.1;dbname=FILL_IN_YOUR_VALUE_HERE',
    'FILL_IN_YOUR_VALUE_HERE',
    'PASSWORD'
);

$aws_key = "YOUR_VALUE_HERE";
$aws_secret = "YOUR_VALUE_HERE";

function GUID()
{
    return sprintf('%04X%04X%04X%04X%04X%04X%04X%04X', mt_rand(0, 65535), mt_rand(0, 65535), mt_rand(0, 65535), mt_rand(16384, 20479), mt_rand(32768, 49151), mt_rand(0, 65535), mt_rand(0, 65535), mt_rand(0, 65535));
}

